<!DOCTYPE html>
<html >
<head>
	<title>Directivas</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
	<div ng-app ng-init="pensamientos = [];">
	    <h1>Directivas</h1>
	    <p>
	        ¿Qué hay de nuevo?
	        <br />
	        <input type="text" ng-model="nuevoPensamiento" /> 
	        <input type="button" value="Agregar" ng-click="pensamientos.push(nuevoPensamiento); nuevoPensamiento = '';" />
	    </p>
	    <h2>Pensamientos que has tenido</h2>
	    <p ng-repeat="pensamiento in pensamientos" ng-init="paso = $index">
	        Pensaste esto: {{pensamiento}} (Iteración con índice {{paso}})
	    </p>
	</div>
</body>
</html>