<!DOCTYPE html>
<html ng-app="angfireMdl">
<head>
	<title>AngularFire</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body ng-controller="angfireCtrl">
	<input type="text" ng-model="filtro">
	<input type="button" value="Buscar" ng-click="mostrar()">
	<div ng-repeat="producto in productos | filter : fin" ng-class="clase">
		<h2>{{producto.emp}}</h2>
		<h3>{{producto.marca + " " + producto.modelo}}</h3>
		<p>{{producto.precio}}</p>
	</div>
















	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
	<!-- Initialize Firebase -->
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAqnuUdDfQ9jHdtZNPJc_uwbkEUDCqkQAM",
	    authDomain: "comprara-284a3.firebaseapp.com",
	    databaseURL: "https://comprara-284a3.firebaseio.com",
	    storageBucket: "comprara-284a3.appspot.com",
	    messagingSenderId: "1056513774224"
	  };
	  firebase.initializeApp(config);
	</script>
	
	<script src="js/ang.js"></script>
</body>
</html>