<!DOCTYPE html>
<html ng-app="angfireMdl">
<head>
	<title>AngularFire</title>
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-controller="angfireCtrl">

	<div ng-class="divindex">
  		<h1 ng-class="pch" ng-class="textoLogo" ng-click="home()">Comprara</h1>
        <input type="text" name="producto" ng-class="txtSearch" placeholder="Marca, Modelo, Caracteristicas" ng-model="filtro">
        <button type="button" ng-class="btnSearch" ng-click="mostrar()">Buscar</button>    	
    </div>

	<!-- <div ng-class="">
		<input class="form-control" type="text" ng-model="filtro">
		<input class="form-control" type="button" value="Buscar" ng-click="mostrar()">
	</div>
	<br><br>-->
	<div class="content">
		<div ng-repeat="producto in productos | filter : fin" ng-class="clase">
			<div class="thumbnail">
		        <img class="imagenList" src="{{producto.imagen}}" alt="{{producto.nombre}}">
		        <div class="caption">
		          <p class="prodList">{{producto.nombre}}</p>
		          <p><a href="#" class="btn btn-primary" role="button">Ir al producto</a></p>
		    	</div>
		    </div>
	    </div>
    </div>
	<!-- <div ng-repeat="producto in productos | filter : fin" ng-class="clase">
		<img ng-class="imagen" ng-src="{{producto.imagen}}">
		<div ng-class="content">
			<h2>{{producto.nombre}}</h2>
			<h4>Titulo: {{producto.marca + " " + producto.modelo}}</h4>
			<h4>Marca: {{producto.marca}}</h4>
			<h4>Modelo: {{producto.modelo}}</h4>
			<p>Precio: ${{producto.precio}}</p>
			<a ng-href="{{producto.url}}">{{producto.url}}</a>
		</div>
	</div> -->

	<footer class="footer">
      <ul class="copyright pch1">
         <li>© Copyright 2016 Comprara</li>
         <li>Design by Comprara</a></li>
      </ul>
    </footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
	<!-- Initialize Firebase -->
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyDdCg2jU_8bdToxKQ9X57m1O8uB_0v2VXg",
	    authDomain: "comprara-6a984.firebaseapp.com",
	    databaseURL: "https://comprara-6a984.firebaseio.com",
	    storageBucket: "comprara-6a984.appspot.com",
	    messagingSenderId: "799744714077"
	  };
	  firebase.initializeApp(config);
	</script>
	
	<script src="js/ang.js"></script>
</body>
</html>