<!DOCTYPE html>
<html ng-app="angfireMdl">
<head>
	<title>AngularFire</title>
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body ng-controller="angfireCtrl">

	<div ng-class="divindex">
  		<h1 ng-class="pch" ng-class="textoLogo" ng-click="home()">Comprara</h1>
        <input type="text" name="producto" ng-class="txtSearch" placeholder="Marca, Modelo, Caracteristicas" ng-model="filtro">
        <button type="button" ng-class="btnSearch" ng-click="mostrar()">Buscar</button>    	
    </div>

	<!-- <div ng-class="">
		<input class="form-control" type="text" ng-model="filtro">
		<input class="form-control" type="button" value="Buscar" ng-click="mostrar()">
	</div>
	<br><br>-->
	<div class="content">
		<div ng-repeat="producto in productos | filter : fin" ng-class="clase">
			<div class="thumbnail">
		        <img class="imagenList" src="{{producto.imagen}}" alt="{{producto.nombre}}">
		        <div class="caption">
		          	<p class="prodList">{{producto.nombre}}</p>
		          	<!-- Desencadena Modal -->
		          	<button class="btn btn-primary" data-toggle="modal" data-target="#prodModal{{$index}}">
		          		Detalle
		          	</button>

		          	<!-- Begin Modal -->
					<div class="modal fade" id="prodModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">

					    	<!-- Header -->
						    <div class="modal-header">
						    	<h4>{{producto.nombre}}</h4>
						    </div>

						    <!-- Body -->
						    <div class="modal-body">
						    	<img class="imagenList" src="{{producto.imagen}}" alt="{{producto.nombre}}">
						    	<div>
						    		<table class="table table-hover table-bordered">
						    			<thead>
							    			<tr>
							    				<th>Empresa</th>
							    				<th>Precio</th>
							    				<th>Sitio</th>
							    			</tr>
						    			</thead>
						    			<tbody>
							    			<tr ng-if="!producto.url1_pcfactory">
							    			</tr>
							    			<tr ng-if="producto.url1_pcfactory">
							    				<td>PC Factory</td>
							    				<td >${{producto.precio_pcfactory}}</td>
							    				<td><a href="{{producto.url1_pcfactory}}" target="_blank">Ir al sitio</a></td>
							    			</tr>
							    			<tr ng-if="!producto.url_peta">
							    			</tr>
							    			<tr ng-if="producto.url_peta">
							    				<td>Peta</td>
							    				<td>${{producto.precio_peta}}</td>
							    				<td><a href="{{producto.url_peta}}" target="_blank">Ir al sitio</a></td>
							    			</tr>
						    			</tbody>
									</table>
						    	</div>
						    </div>

						    <!-- Footer -->
						    <div class="modal-footer">
						    	<button class="btn btn-danger" data-dismiss="modal">
						    		Cerrar
						    		<!-- <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> -->
						    	</button>
						    </div>

					    </div>
					  </div>
					</div>
					<!-- End Modal -->

		    	</div>
		    </div>
	    </div>
    </div>
	<!-- <div ng-repeat="producto in productos | filter : fin" ng-class="clase">
		<img ng-class="imagen" ng-src="{{producto.imagen}}">
		<div ng-class="content">
			<h2>{{producto.nombre}}</h2>
			<h4>Titulo: {{producto.marca + " " + producto.modelo}}</h4>
			<h4>Marca: {{producto.marca}}</h4>
			<h4>Modelo: {{producto.modelo}}</h4>
			<p>Precio: ${{producto.precio}}</p>
			<a ng-href="{{producto.url}}">{{producto.url}}</a>
		</div>
	</div> -->

	<footer class="footer">
      <ul class="copyright pch1">
         <li>© Copyright 2016 Comprara</li>
         <li>Design by Comprara</a></li>
      </ul>
    </footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
	<!-- Initialize Firebase -->
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyDdCg2jU_8bdToxKQ9X57m1O8uB_0v2VXg",
	    authDomain: "comprara-6a984.firebaseapp.com",
	    databaseURL: "https://comprara-6a984.firebaseio.com",
	    storageBucket: "comprara-6a984.appspot.com",
	    messagingSenderId: "799744714077"
	  };
	  firebase.initializeApp(config);
	</script>
	
	<script src="js/ang.js"></script>
</body>
</html>