.btnBlock1 {
    display: block;
    width: 100%;
}

.btnblock2 {
    display: inline-block;
    width: 10%;
}

.caption{
	background-color: #f8f8f8;
	border: 1px solid transparent;
	border-color: #e7e7e7;
	border-radius: 5px;
}

.divindex1{
    margin-left: auto;
    margin-right: auto;
    padding-left: 240px;    
	padding-right: 240px;
}

.divindex2{
	border: 1px solid transparent;
	border-radius: 0px 0px 30px 30px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
	padding-right: 100px;
    padding-left: 100px;
}

.nomuestra {
	display: none;
}

.muestra {
	border-radius: 10px;
	display: inline-block;
	margin-right: 20px;
	width: 30%;
}

.pch1{
	padding-bottom: 8rem;
    padding-top: 6rem;
	text-align: center;
}

.pch2{
	display: inline-block;
	font-size: 25px;
	margin-right: 20rem;
	padding-bottom: 1rem;
    padding-top: 1rem;
	text-align: left;
}

.imagenList{
	width: 150px;
}

.prodList{
	height: 5rem;
}

.content{
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 2rem;
    background-color: #FFF;
    border-radius: 10px;
}

.search1{
	margin-bottom: 2rem;
}

.frm-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.frm-control2 {
    display: inline-block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*copyright*/
.footer{
	margin-top: 4%;
}

footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}